.laber_login {
    width: 100%;
    min-width: 1200px;
    .login_main {
        width: 100%;
        float: left;
        margin-top: 90px;
        .login_center {
            width: 520px;
            margin: 0 auto;
            text-align: center;
            h1 {
                font-size: 24px;
                color: #3e3a39;
                margin-bottom: 10px;
            }
            form {
                width: 360px;
                margin: 0 auto;
                .list {
                    position: relative;
                    float: left;
                    width: 100%;                  
                    margin-top: 26px;
                    input {
                        width: calc(100% - 38px);
                        height: 40px;                       
                        padding: 0 18px;
                        border: 1px solid #d3d3d3;
                        border-radius: 5px;
                        font-size: 14px;
                        color: #666;
                        float: left;
                    }
                    .txm {
                        width: 154px;                        
                    }
                    .img_txm {
                        float: right;
                        width: 150px;
                        height: 40px;
                    }
                    button {
                        float: right;
                        width: 150px;
                        height: 42px;
                        background: #d3b799;
                        line-height: 42px;
                        text-align: center;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    strong {
                        position: absolute;
                        left: 390px;
                        color: #fe2626;
                        font-size: 12px;
                        font-weight: normal;
                        white-space: nowrap;
                        line-height: 40px;
                    }
                }
                
                .forget {
                    float: left;
                    text-align: left;
                    width: 100%;
                    font-size: 12px;
                    margin-top: 8px;
                    color: #999999;
                }
                .immediately {
                    margin: 0 auto;
                    text-align: center;
                    width: 180px;
                    height: 40px;
                    display: inline-block;
                    line-height: 40px;
                    color: #3e3a39;                   
                    margin-top: 30px;
                    margin-bottom: 14px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .active1 {
                    background: #d3b799;
                }
                .active2 {
                    background: #bbbbbb;
                }
                p {
                    font-size: 14px;
                    color: #3e3a39;
                    a {
                        color: #d3b799;
                    }
                }
                .qt {
                    width: 100%;
                    height: 14px;
                    position: relative;
                    margin-top: 94px;
                    b {
                        width: 122px;
                        height: 1px;
                        margin-top: 7px;
                        background: #d3d3d3;
                    }
                    .b1 {
                        float: left;
                    }
                    .b2 {
                        float: right;
                    }
                    p {
                        width: 100%;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 14px;
                        color: #999999;
                    }
                }
                .dsf {
                    width: 100%;
                    float: left;
                    margin-top: 26px;
                    margin-bottom: 200px;
                    text-align: center;
                    a {
                        width: 70px;
                        text-align: center;
                        display: inline-block;
                    }
                    .a_fl {
                        float: left;
                        margin-left: 75px;
                    }
                    i {
                        width: 70px;
                        height: 70px;
                        float: left;
                        margin-bottom: 8px;
                    }
                    .i1 {
                        background: url(../img/QQ.png) no-repeat;
                    }
                    .i2 {
                        background: url(../img/wx.png) no-repeat;
                    }
                }
            }
        }
    }
}
.loadingMain {
    width: 100%;
    float: left;
    text-align: center;
}
.laber_goods {
    width: 100%;
    min-width: 1200px;
    .goods_main {
        width: 100%;
        float: left;
        margin-bottom: 164px;
        ul {
            width: 100%;
            float: left;
            li {
                width: calc(1180px / 3);
                float: left;
                margin-right: 10px;
                a{
                    width: 100%;
                    float: left;
                    img {
                        width: 100%;
                        height: auto;
                        max-height: 296px;
                        height: 296px;
                    }
                    span {
                        width: calc(100% - 40px);
                        padding: 0 20px;
                        margin-top: 26px;
                        font-size: 18px;
                        color: #3e3a39;
                        float: left;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    p {
                        float: left;
                        width: calc(100% - 40px);
                        padding: 0 20px;
                        margin: 12px 0 22px;
                        color: #f1451a;
                        font-size: 20px;
                    }
                }
            }
            li:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
.laber_details {
    width: 100%;
    min-width: 1200px;
    .details_main {
        width: 100%;
        float: left;
        margin-bottom: 90px;
        .details_top {
            width: 100%;
            height: 535px;
            float: left;
            .details_fl {
                float: left;
                width: 600px;
                height: 535px;
                position: relative;
                .data_img {
                    width: 100%;
                    height: 405px;
                    float: left;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: auto;
                        display: inline-block;
                        float: left;
                    }
                }
                .view {
                    width: calc(100% - 80px);
                    height: 130px;
                    padding: 0 40px;
                    overflow: hidden;
                    li {
                        float: left;
                        width: calc(100% / 4);
                        height: 130px;
                        overflow: hidden;
                        img {
                            width: auto;
                            height: 130px;
                            display: inline-block;
                        }
                    }
                }
                .preve {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 40px;
                    height: 130px;
                    background: #d3b799;
                    cursor: pointer;
                }
                .preve:hover{
                    background: #bb956c;
                    transition: 1s;
                }
                .preve:after {
                    content: '';
                    position: absolute;
                    width: 11px;
                    height: 18px;
                    left: 50%;
                    margin-left: -5px;
                    background: url(../img/left.png) no-repeat;
                    top: 50%;
                    margin-top: -9px;
                }
                .next {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 40px;
                    height: 130px;
                    background: #d3b799;
                    cursor: pointer;
                }
                .next:hover {
                    background: #bb956c;
                    transition: 1s;
                }
                .next:after {
                    content: '';
                    position: absolute;
                    width: 11px;
                    height: 18px;
                    left: 50%;
                    margin-left: -5px;
                    background: url(../img/right.png) no-repeat;
                    top: 50%;
                    margin-top: -9px;
                }
            }
            .details_fr {
                width: calc(600px - 158px);
                height: 535px;
                padding: 0 118px 0 40px;
                float: left;
                background: #fff;
                h1 {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 24px;
                    color: #3e3a39;
                    margin-top: 40px;
                    float: left;
                }
                p {
                    width: 100%;
                    float: left;
                    color: #f1451a;
                    font-size: 24px;
                    margin-top: 22px;
                }
                .data_number {
                    float: left;
                    width: 100%;
                    height: 26px;
                    line-height: 24px;                   
                    margin-top: 42px;
                    em {
                        float: left;
                        color: #999999;
                        font-size: 18px;
                    }
                    input {
                        height: 24px;
                        width: 24px;
                        font-size: 18px;
                        color: #3e3a39;
                        border: 1px solid #d3b799;
                        text-align: center;
                        background: none;                       
                        float: left;
                    }
                    .sl {
                        width: 68px;
                        margin: 0 2px;
                        height: 22px;
                    }
                }
                a {
                    width: 180px;
                    height: 38px;
                    float: left;
                    font-size: 18px;
                    color: #3e3a39;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 40px;
                    border: 1px solid #d3b799;
                    margin-right: 14px;
                    margin-top: 20px;
                }
                a:hover {
                    background: #c7a784;
                    transition: 1s;
                }
                .gm {
                    background: #d3b799;
                }
                ul {
                    width: 100%;
                    float: left;margin-top: 44px;
                    li {
                        float: left;
                        width: 100%;                       
                        span {
                            display: inline-block;
                            color: #999999;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            border-bottom: 1px solid #d3d3d3;
                            height: 50px;
                            line-height: 50px;
                            float: left;
                            width: calc(100% - 272px);
                            em {
                                color: #3e3a39;
                            }
                        }
                        span:nth-child(2n-1) {
                            width: 272px;
                        }
                    }
                }
                strong {
                    width: 100%;
                    font-size: 18px;
                    color: #999999;
                    float: left;
                    text-align: left;
                    font-weight: normal;
                    margin-top: 16px;
                    em {
                        color: #3e3a39;
                    }
                }
            }
        }
        .details_center {
            width: 100%;
            float: left;
            margin-top: 30px;
            background: #fff;
            p {
                width: 100%;
                float: left;
                img {
                    width: 100%;
                    height: auto;
                    display: inline-block;
                }
            }
        }
    }
}
.laber_shopUser {
    width: 100%;
    height: 60px;
    background: #d3b799;
    min-width: 1200px;
    .shopUser_main {
        width: 100%;
        float: left;
        height: 60px;
        line-height: 60px;
        p {
             font-size: 16px;
             color: #3e3a39;
             float: left;
        }
        ul {
            float: right;
            height: 60px;
            li {
                float: left;
                margin-left: 60px;
                height: 60px;
                text-align: center;
                position: relative;
                a {
                    
                    height: 60px;
                    
                }
            }
            .on:after{
                position: absolute;
                bottom: 4px;
                width: 26px;
                height: 5px;
                background: #fff;
                content: '';
                left: 50%;
                margin-left: -13px;
                transition: 0.3s;
            }
        }
    }
}
@mixin dls1(){
    width: 828px;
    padding-left: 60px;
}
@mixin dls2(){
    width: 152px;
}
@mixin checkd1(){
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../img/chek1.png) no-repeat;
    position: relative;
    cursor: pointer;
}
@mixin checkd2(){
    background:url(../img/chek2.png) no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    cursor: pointer;
}
@mixin inp(){
    float: left;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
}
@mixin odmain($wd){
    width: $wd;
}

.laber_shop {
    width: 100%;
    min-width: 1200px;
    .shop_main {
        width: 100%;
        float: left;
        margin-bottom: 164px;
        h1 {
            font-size: 16px;
            color: #3e3a39;
            width: 100%;
            float: left;
            font-weight: normal;
            margin-top: 40px;
        }
        h2 {
            width: 100%;
            text-align: center;
            font-size: 24px;
            color: #3e3a39;
            margin-top: 68px; 
            font-weight: normal;        
        }
        .addtreesLink {
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 46px;
            a {
                font-size: 16px;
                color: #666666;
            }
            a:hover {
                color: #d3b799;
                transition: 0.5s;
            }
        }
        span {
            font-size: 16px;
            color: #3e3a39;
            width: 100%;
            float: left;
            margin-top: 46px;
            margin-bottom: 16px;
        }
        table {
            width: 100%;
            border: 1px solid #d3d3d3;
            background: #fff;
            float: left;
            tr {
                width: 100%;
                float: left;
                th {
                    text-align: left;
                }
                td {
                    text-align: left;
                    p {
                        float: left;
                        cursor: pointer;
                        padding-right: 7px;
                        height: 18px;
                        font-size: 16px;
                        line-height: 18px;
                    }
                    p:last-child {
                        padding-left: 7px;
                        border-left: 1px solid #3e3a39;
                    }
                }
                td:first-child em{
                    @include checkd1();
                }
                td:first-child .check i{
                    @include checkd2();
                }
                .td1 {
                    width: 60px;
                }
                .td2 {
                    width: 242px;
                }
                .td3 {
                    width: 650px;
                }
            }
            .tr1 {
                border-bottom: 1px solid #d3d3d3;
                height: 44px;
                line-height: 44px;
                th {
                    font-size: 16px;
                    color: #999999;
                    font-weight: normal;
                }           
            }
            .tr2 {
                height: 80px;
                line-height: 80px;
                .tdct {
                    text-align: center;
                }
            }
        }
        .tj {
            float: left;
            width: calc(100% - 2px);
            border: 1px solid #d3d3d3;
            height: 80px;
            background: #fff;
            border-top: none;
            a {
                width: 180px;
                height: 40px;
                background: #d3b799;
                text-align: center;
                line-height: 40px;
                display: block;
                border-radius: 5px;
                margin: 20px 0 0 60px;
            }
        }
        h3 {
            font-size: 24px;
            color: #3e3a39;
            float: left;
            font-weight: normal;
            margin: 34px 0 20px 0;
        }
        .shop_zf {
            width: 100%;
            float: left;
            li {
                float: left;
                width: 200px;
                height: 100px;
                padding-left: 60px;
                background: #fff;
                margin-right: 20px;
                position: relative;
                i {
                    width: 60px;
                    height: 60px;
                    float: left;
                    margin-top: 20px;
                    margin-right: 14px;
                }
                .wx {
                    background: url(../img/wx-ico.png) no-repeat;
                }
                .zfb {
                    background: url(../img/zfb-ico.png) no-repeat;
                }
                span {
                    width: 124px;
                    margin-top: 20px;
                    float: left;
                    font-size: 24px;
                    color: #3e3a39;
                }
                p {
                    width: 124px;
                    float: left;
                    font-size: 18px;
                    color: #3e3a39;
                }
                .lp1 {
                    letter-spacing: 3px;
                }
            }
            .on1 {
                border: 1px solid #61bc45;
            }
            .on1:after {
                content: '';
                position: absolute;
                background: url(../img/dg.png) no-repeat;
                width: 16px;
                height: 12px;
                left: 22px;
                top: 42px;             
            }
            .on2 {
                border: 1px solid #0e87cc;
            }
            .on2:after {
                content: '';
                position: absolute;
                background: url(../img/dg2.png) no-repeat;
                width: 16px;
                height: 12px;
                left: 22px;
                top: 42px;             
            }
            button {
                width: 270px;
                height: 75px;
                float: left;
                font-size: 24px;
                color: #3e3a39;
                text-align: center;
                line-height: 75px;
                border-radius: 5px;
                background: #d3b799;
                clear: both;
                margin-top: 172px;
            }
        }
        .shop_orders {
            width: 100%;
            float: left;
            background: #fff;
            .head {
                width: calc(100% - 2px);
                float: left;
                border: 1px solid #d3d3d3;
                height: 46px;
                dd {
                    font-size: 16px;
                    color: #999999;
                    float: left;
                    line-height: 46px;
                    margin-top: 0;
                }
                .d1 {
                    @include dls1();
                }
                .d2 {
                    @include dls2();
                }
                .od1 {
                    @include odmain(598px);
                    padding-left: 22px;
                }
                .od2 {
                    @include odmain(100px);
                }
                .od3 {
                    @include odmain(118px);
                }
                .od4 {
                    @include odmain(124px);
                }
                .od5 {
                    @include odmain(130px);
                }
            }
            ul {
                width: calc(100% - 2px);
                float: left;
                border-left: 1px solid #d3d3d3;
                border-right: 1px solid #d3d3d3;               
                li {
                    float: left;
                    width: 100%;
                    border-bottom: 1px solid #d3d3d3;
                    padding: 0 0 26px 0;
                    .oli {
                        width: 100%;
                        float: left;
                        padding-top: 26px;
                    }
                    .list_i {
                        float: left;
                        position: relative;
                    }
                    .lisBorder:after{
                        content: '';
                        width: 1px;
                        height: calc(100% + 52px);
                        top: -26px;
                        right: 50px;
                        background: #d3d3d3;
                        position: absolute;
                    }
                    a {
                        float: left;
                        img {
                            width: 140px;
                            height: 140px;
                            margin-right: 20px;
                            float: left;
                        }
                        b {
                            float: left;
                            width: calc(828px - 160px);
                            font-size: 16px;
                            color: #3e3a39;
                            font-weight: normal;
                            line-height: 140px;
                        }
                    }
                    .orderNumber {
                        width: 100%;
                        height: 40px;
                        background: #eeeeee;
                        float: left;
                        p {
                            color: #999999;
                            font-size: 13px;
                            line-height: 40px;
                            float: left;
                            padding-left: 24px;
                        }
                    }
                    .order_list {
                        width: 100%;
                    }
                    .order_list + .order_list {
                        padding-top: 26px;
                    }
                    p {
                        float: left;
                        line-height: 140px;
                        font-size: 16px;
                        color: #3e3a39;
                    }
                    .btn_cz {
                        float: left;
                        width: 104px;
                        height: 140px;
                        display: flex;
                        flex-direction:column;
                        justify-content:center;
                        button {
                            background: none;
                            width: 100%;
                            float: left;
                            margin: 5px 0;
                            cursor: pointer;                            
                        }
                        button:hover {
                            color: #d3b799;
                        }
                    }
                    .d1 {
                        @include dls1();
                    }
                    .d2 {
                        @include dls2();
                    }
                    .od1 {
                        @include odmain(698px);
                        padding-left: 22px;
                        b {
                            width: calc(598px - 160px);
                        }
                    }
                    .od2 {
                        @include odmain(100px);
                    }
                    .od3 {
                        @include odmain(118px);
                    }
                    .od4 {
                        @include odmain(124px);
                    }
                    .od5 {
                        @include odmain(130px);
                    }                 
                }
            }
            .bz {
                width: calc(100% - 62px);
                border: 1px solid #d3d3d3;
                border-top: none;
                height: 40px;
                padding: 20px 0 20px 60px;
                float: left;
                line-height: 40px;
                input {
                    width: 980px;
                    height: 40px;
                    font-size: 16px;                  
                }
            }           
        }
        .cart_orders {
            width: 100%;
            float: left;
            background: #fff;
            .head {
                width: calc(100% - 2px);
                float: left;
                border: 1px solid #d3d3d3;
                height: 46px;
                dd {
                    font-size: 16px;
                    color: #999999;
                    float: left;
                    line-height: 46px;
                }                
            }
            .dd1 {
                width: 60px;
                text-align: center;
            }
            .dd2 {
                width: 620px;
            }
            .dd3 {
                width: 124px;
            }
            .dd4 {
                width: 200px;
            }
            .dd5 {
                width: 126px;
            }
            em{
                @include checkd1();
            }
            .check i {
                @include checkd2();
            }
            ul {
                width: calc(100% - 2px);
                float: left;
                border-left: 1px solid #d3d3d3;
                border-right: 1px solid #d3d3d3;  
                li {
                   float: left;
                    width: 100%;
                    border-bottom: 1px solid #d3d3d3;
                    height: 140px;
                    padding: 26px 0;
                    .checkd {
                        float: left; 
                        margin-top: 62px;                       
                    }
                    a {
                        float: left;
                        img {
                            width: 140px;
                            height: 140px;
                            margin-right: 20px;
                            float: left;
                        }
                        b {
                            float: left;
                            width: calc(620px - 160px);
                            font-size: 16px;
                            color: #3e3a39;
                            font-weight: normal;
                            line-height: 140px;
                        }
                    }
                    p {
                        float: left;
                        line-height: 140px;
                        font-size: 16px;
                        color: #3e3a39;
                    }
                    label {
                        line-height: 140px;
                        font-size: 16px;
                        color: #3e3a39;
                        float: left;
                    }
                    .data_number {
                        float: left;
                        height: 26px;
                        line-height: 24px;
                        margin-top: 58px;                   
                        em {
                            float: left;
                            color: #999999;
                            font-size: 18px;
                        }
                        input {
                            height: 24px;
                            width: 24px;
                            font-size: 18px;
                            color: #3e3a39;
                            border: 1px solid #d3b799;
                            text-align: center;
                            background: none;                       
                            float: left;
                        }
                        .sl {
                            width: 68px;
                            margin: 0 2px;
                            height: 22px;
                        }
                    }
                    .delete {
                        cursor: pointer;
                    }
                }
            }
        }
        .js {
            width: calc(100% - 62px);
            border: 1px solid #d3d3d3;
            border-top: none;
            height: 40px;
            padding: 20px 0 20px 60px;
            float: left;
            line-height: 40px;
            button {
                font-size: 16px;
                color: #3e3a39;
                background: none;
                cursor: pointer;
            }
            .cart_zj {
                float: right;
                p {
                    float: left;
                    margin-right: 90px;
                }
                .cart_js {
                    float: right;
                    width: 180px;
                    height: 40px;
                    background: #d3b799;
                    border-radius: 4px;
                    text-align: center;
                    line-height: 40px;
                    margin-right: 36px;
                }
            }
        }
        .money {
            float: right;
            margin-top: 84px;
            dl {
                float: right;
                clear: both;
                margin-top: 16px;
                dt {
                    float: left;
                    width: 116px;
                    margin-right: 40px;
                    text-align: right;
                    color: #999999;
                    font-size: 16px;
                }
                dd {
                    float: left;
                    width: 120px;
                    text-align: right;
                    color: #3e3a39;
                    font-size: 16px;
                }
                .fs1 {
                    font-size: 24px;
                }
            }
            .money-zf {
                float: right;
                clear: both;
                width: 270px;
                height: 74px;
                display: inline-block;
                text-align: center;
                line-height: 74px;
                background: #d3b799;
                margin-top: 34px;
                border-radius: 5px;
            }
        }
        .address_cont {
            width: 740px;
            float: left;
            margin-top: 30px;
            li {
                float: left;
                width: 740px;
                margin-bottom: 26px;
                .lis {
                    float: left;
                    h3 {
                        font-size: 12px;
                        color: #3e3a39;
                        font-weight: normal;
                        float: none;
                    }
                    input {
                        width: calc(100% - 22px);
                        height: 38px;
                        padding: 0 10px;
                        @include inp();                       
                    }
                    select {
                        height: 40px;
                        padding: 0 10px;
                        @include inp();
                    }
                } 
                .lis1 {
                    width: 358px;
                }
                .lis2 {
                    width: 736px;
                }              
            }
            .messgDz {
                width: 100%;
                float: left;
                margin-bottom: 26px;
                font-size: 12px;
                color: #fe2626;
            }
            a {
               width: 180px;
               height: 40px;
               float: left;
               background: #d3b799; 
               border-radius: 3px;
               text-align: center;
               line-height: 40px;
               font-size: 18px;
               color: #3e3a39;
               clear: both;
            }
        }
        .tracking{
            width: 100%;
            float: left;
            h3{
                width: 100%;
                float: left;
                font-size: 16px;
                color: #3e3a39;
            }
            .receiptAddress {
                float: left;
                width: 100%;
                font-size: 16px;
                color: #666666;
                dd {
                    float: left;
                }
            }
            .trackingMain {
                width: 100%;
                float: left;
                margin-top: 60px;
                li{
                    float: left;
                    width: 100%;
                    height: 70px;
                    .times {
                        width: 50px;
                        text-align: right;
                        float: left;
                        color: #999999;
                        b{
                            margin-bottom: 6px;
                            display: inline-block;
                            font-weight: normal;
                            float: right;
                            color: #999999;
                            font-size: 12px;
                        }
                        em {
                            clear: both;
                            float: right;
                            font-size: 12px;
                        }
                        .max {
                            font-size: 16px;
                        }
                    }
                    .quq {
                        width: 18px;
                        float: left;
                        text-align: center;
                        margin: 0 10px;
                        height: 18px;
                        display: flex;
                        justify-content: center;
                        i {
                            border-radius: 50%;
                            position: relative;                            
                            background: #d3d3d3;
                            flex-direction: row;
                            
                        }
                        
                        .size2{
                            width: 18px;
                            height: 18px;
                        }
                        .size1{
                            width: 8px;
                            height: 8px;
                        }
                        .frames1:after {
                            position: absolute;
                            content: '';
                            top: 8px;
                            width: 1px;
                            height: 70px;
                            background: #d3d3d3;
                        }
                        .frames2:after {
                            position: absolute;
                            content: '';
                            top: 18px;
                            width: 1px;
                            height: 70px;
                            background: #d3d3d3;
                        }
                    }
                    
                    p{
                        float: left;
                        font-size: 14px;
                        color: #999999;
                        b{
                            margin-bottom: 6px;
                            display: inline-block;
                            font-weight: normal;
                            float: left;
                        }
                        em {
                            clear: both;
                            float: left;
                        }
                    }
                    
                }
                .color1 .times b {
                    color: #d3b799;
                }
                .color1 .times em {
                    color: #d3b799;
                }
                .color1 .quq i {
                    background: #d3b799;
                }
                .color1 p {
                    color: #d3b799;
                }
                .color1 p b {
                     color: #d3b799;
                }
            }
        }
    }
     .weChat_main {
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 310px;
        span {
            width: 100%;
            float: left;
            text-align: center;
            font-size: 24px;
            color: #f1451a;
            margin-top: 110px;
        }
        p{
            width: 100%;
            float: left;
            text-align: center;
            font-size: 14px;
            color: #666666;
            margin: 26px 0 16px;
        }
    }
}
.noneCar {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 138px;
    margin-bottom: 200px;
    img {
        display: inline-block;
    }
    p {
        width: 100%;
        text-align: center;
        float: left;
        margin-top: 56px;
    }
    .goshop {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 22px;
    }
    .aShop {
        width: 180px;
        height: 40px;
        background: #d3b799;
        border-radius: 3px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        clear: both;
    }
}
.carBg {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 333;
}
.carPopup {
    width: 490px;
    height: 265px;
    position: fixed;
    background: #fff;
    z-index: 444;
    top: 252px;
    left: 50%;
    margin-left: -245px;
    border-radius: 3px;
    i {
        background: url(../img/qx2.png) no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;
    }
    span {
        padding: 0 55px;
        width: calc(100% - 110px);
        float: left;text-align: center;
        margin-top: 66px;
        font-size: 20px;
        color: #3e3a39;
    }
    .linkShop {
        width: 100%;
        text-align: center;
        float: left;
        margin-top: 100px;
        a {
            width: 180px;
            height: 40px;
            display: inline-block;
            background: #d3d3d3;
            line-height: 40px;
            border-radius: 4px;
            font-size: 18px;
            color: #3e3a39;
            margin: 0 12px;
        }
        .al1 {
            background: #d3b799;
        }
    }
}
.addressPopup {
    width: 740px;
    padding: 42px 50px;
    position: fixed;
    background: #fff;
    z-index: 444;
    top: 130px;
    left: 50%;
    margin-left: -420px;
    border-radius: 5px;
    i {
        background: url(../img/qx2.png) no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;
    }
    span {
        color: #3e3a39;
        font-size: 16px;
        float: left;
    }
    .address_cont {
        width: 100%;
        float: left;
        margin-top: 30px;
        li {
            float: left;
            width: 740px;
            margin-bottom: 26px;
            .lis {
                float: left;
                h3 {
                    font-size: 12px;
                    color: #3e3a39;
                    font-weight: normal;
                }
                input {
                    width: calc(100% - 22px);
                    height: 38px;
                    padding: 0 10px;
                    @include inp();                       
                }
                select {
                    height: 40px;
                    padding: 0 10px;
                    @include inp();
                }
            } 
            .lis1 {
                width: 358px;
            }
            .lis2 {
                width: 736px;
            }              
        }
        .messgDz {
            width: 100%;
            float: left;
            margin-bottom: 26px;
            font-size: 12px;
            color: #fe2626;
        }
        a {
           width: 180px;
           height: 40px;
           float: left;
           background: #d3b799; 
           border-radius: 3px;
           text-align: center;
           line-height: 40px;
           font-size: 18px;
           color: #3e3a39;
           clear: both;
        }
    }
}
.pagMain {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 100px;
}

.pagMain .itemPage {
    display: inline-block;
    margin: 0 5px;
}

.pagMain .itemPage a {
    padding: .5rem 1rem;
    display: inline-block;
    background: #fff;
    color: #666;
}

.pagMain .itemPage a:hover {
    background: #eee;
}

.pagMain .active a {
    background: #d3b799;
    color: #fff;
}

//loading

.loader {
    position: relative;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    margin: 200px 0;
}

.loader.small {
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.loader.circle-line,
.loader.circle-round {
    height: 5rem;
}
/*circle-round*/

.loader.circle-round span {
    opacity: .05;
    -webkit-animation: circle-round 1s ease infinite;
    animation: circle-round 1s ease infinite;
}

.loader.circle-round-fade span {
    -webkit-animation: circle-round-fade 1s ease infinite;
    animation: circle-round-fade 1s ease infinite;
}

.loader.circle-round span,
.loader.circle-round-fade span {
    position: absolute;
    width: .8rem;
    height: .8rem;
    display: inline-block;
    border-radius: 50%;
    background: #a7a7a7;
}

.loader.circle-round span:nth-child(1),
.loader.circle-round-fade span:nth-child(1) {
    top: 50%;
    left: 0;
    margin-top: -.4rem;
    -webkit-animation-delay: -1.04s;
    animation-delay: -1.04s;
}

.loader.circle-round span:nth-child(2),
.loader.circle-round-fade span:nth-child(2) {
    top: .7rem;
    left: .7rem;
    -webkit-animation-delay: -.91s;
    animation-delay: -.91s;
}

.loader.circle-round span:nth-child(3),
.loader.circle-round-fade span:nth-child(3) {
    top: 0;
    left: 50%;
    margin-left: -.4rem;
    -webkit-animation-delay: -.78s;
    animation-delay: -.78s;
}

.loader.circle-round span:nth-child(4),
.loader.circle-round-fade span:nth-child(4) {
    right: .7rem;
    top: .7rem;
    -webkit-animation-delay: -.65s;
    animation-delay: -.65s;
}

.loader.circle-round span:nth-child(5),
.loader.circle-round-fade span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -.4rem;
    -webkit-animation-delay: -.52s;
    animation-delay: -.52s;
}

.loader.circle-round span:nth-child(6),
.loader.circle-round-fade span:nth-child(6) {
    bottom: .7rem;
    right: .7rem;
    -webkit-animation-delay: -.39s;
    animation-delay: -.39s;
}

.loader.circle-round span:nth-child(7),
.loader.circle-round-fade span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -.4rem;
    -webkit-animation-delay: -.26s;
    animation-delay: -.26s;
}

.loader.circle-round span:nth-child(8),
.loader.circle-round-fade span:nth-child(8) {
    left: .7rem;
    bottom: .7rem;
    -webkit-animation-delay: -.13s;
    animation-delay: -.13s;
}

@keyframes circle-round {
    0% {
        opacity: .05;
    }
    100% {
        opacity: .7;
    }
}

@-webkit-keyframes circle-round {
    0% {
        opacity: .05;
    }
    100% {
        opacity: .7;
    }
}

@keyframes circle-round-fade {
    0% {
        opacity: .25;
        transform: scale(.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes circle-round-fade {
    0% {
        opacity: .25;
        transform: scale(.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}