/**********
 * 页面样式
 */


/* ==========
 * 基本默认样式
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
img,
form,
applet,
fieldset,
legend,
button,
input,
textarea,
th,
table,
tr,
td {
	margin: 0;
	padding: 0;
	border: none;
}


/* bady */

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
	-webkit-text-size-adjust: none
}

input::-ms-clear {
	display: none;
}


/*清楚文本框X*/

input,
select,
textarea {
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
}

html {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: #f6f9fc;
	width: 100%;
	height: 100%;
}

body {
	background: #f7f8f8;
	font-family: '宋体';
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #000;
}


/* img */

img {
	padding: 0;
	margin: 0;
	vertical-align: top;
	border: none;
}

i,
em {
	font-style: normal;
}


/* div */

li,
ul {
	list-style: none;
	outside: none;
}

.clear {
	clear: both;
	height: 0;
	width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
img,
form,
applet,
fieldset,
legend,
button,
input,
textarea,
th,
table,
tr,
td,
a,
b,
i,
span,
input,
select,
p {
	color: #333;
}

button {
	outline：none;
}

button:hover {
	background: #eaa02a;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
	outline: none;
}

a {
	text-decoration: none;
}

img {
	outline-width: 0px;
	vertical-align: top;
}


/* ==========
 * 工具样式
 */

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.text-right {
	text-align: right !important;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.invisible {
	visibility: hidden;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}


/* ==========
 * 浏览器更新提示
 */

.browserupgrade {
	margin: 0;
	padding: 1rem;
	background: #fff;
	height: 80px;
	text-align: center;
	font-size: 24px;
	line-height: 80px;
}

.browserupgrade a {
	color: red;
	margin: 0 8px;
}


/********
 * 头部
 */

.auto {
	margin: 0 auto;
	width: 1200px;
}

header {
	width: 100%;
}

header .laber_top {
	width: 100%;
	height: 24px;
	background: #2c2625;
	min-width: 1200px;
}

header .laber_top .top_main {
	height: 24px;
}

header .laber_top .top_main .login {
	float: right;
}

header .laber_top .top_main .login>a {
	color: #d3b799;
	font-size: 14px;
	line-height: 24px;
	padding: 0 6px;
	position: relative;
}

header .laber_top .top_main .login>a:first-child:after {
	position: absolute;
	content: '/';
	right: -3px;
}

header .laber_top .top_main .login>a:last-child {
	padding-right: 0;
}

header .laber_header {
	width: 100%;
	height: 128px;
	background: #f7f8f8;
	min-width: 1200px;
}

header .laber_header .header_main {
	height: 128px;
	position: relative;
}

.header_main>nav {
	position: absolute;
	bottom: 32px;
	right: 0;
}


.header_main>nav li {
	margin: 0 33px;
}

.header_main>nav li {
	float: left;
}

.header_main .nav_fl li:first-child {
	margin-left: 0;
}

.header_main>nav li a {
	font-size: 14px;
	color: #3e3a39;
	font-family: "微软雅黑";
}

.header_main>nav .on a {
	color: #d3b799;
}

.header_main>nav li a:hover {
	color: #d3b799;
	transform: all 1s;
}

.header_main .nav_fr li:last-child {
	margin-right: 0;
}

.header_main .logo {
    float: left;
	width: 238px;
	height: 70px;
	margin-top: 30px;
}


/*******
 * banner
 */

.ad {
	width: 100%;
	height: 680px;
	position: relative;
	display: inline-block;
	min-width: 1200px;
}

.swiper-list {
	width: 100%;
	height: 680px;
}

.swiper-list .swiper-slide a {
	float: left;
	width: 100%;
	height: 680px;
}

.pagination {
	position: absolute;
	z-index: 20;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #555;
	margin: 0 5px;
	opacity: 0.8;
	border: 1px solid #fff;
	cursor: pointer;
}

.swiper-active-switch {
	background: #fff;
}

.arrow-left {
	background: url(../img/prev.png) no-repeat;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -75px;
	width: 60px;
	height: 150px;
	z-index: 999;
}

.arrow-right {
	background: url(../img/next.png) no-repeat;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -75px;
	width: 60px;
	height: 150px;
	z-index: 999;
}


/*******
 * 主体 --视频
 */

.container {
	background: url(../img/bg.jpg) no-repeat center top;
	width: 100%;
}

.laber_wenbang {
	width: 100%;
	min-width: 1200px;
}

.wenbang_main {
	width: 100%;
	padding-top: 104px;
	height: 505px;
}

.wenbang_main .wenbang_fl {
	width: 300px;
	float: left;
}

.wenbang_main .wenbang_fl img {
	width: 64px;
	height: 308px;
	float: left;
}

.wenbang_main .wenbang_fl p {
	float: left;
	color: #6a5b54;
	font-size: 17px;
	margin-left: 14px;
	line-height: 28px;
}

.wenbang_main .wenbang_fl .p1 {
	margin-left: 36px;
}

.wenbang_main .wenbang_fr {
	width: 898px;
	height: 505px;
	float: right;
}


/******
 * 服务
 */

.laber_service {
	width: 100%;
	min-width: 1200px;
}

.service_main {
	padding: 112px 0;
	overflow: hidden;
}

.service_main a {
	float: left;
	width: 390px;
	height: 260px;
}

.service_main a+a {
	margin-left: 15px;
}

.service_main a img {
	width: 390px;
	height: 260px;
}


/********
 * 底部
 */

footer {
	width: 100%;
	min-width: 1200px;
}

.footer {
	width: 100%;
	border-top: 1px solid #d3d3d3;
	display: inline-block;
}

.foot_main {
	margin-top: 25px;
	width: 100%;
	float: left;
}

.foot_main>ul {
	float: left;
}

.foot_main>ul li {
	padding: 0 30px;
	float: left;
	position: relative;
}

.foot_main>ul li {
	border-right: 1px solid #d3d3d3;
}

.foot_main>ul li a {
	color: #2c2625;
	font-size: 14px;
}

.footer_wx {
	width: 132px;
	display: inline-block;
	float: left;
	position: relative;
	padding: 12px 12px 0;
	margin-left: -30px;
}

.foot_main .footer_wx>p {
	padding: 0 18px;
	float: left;
	font-size: 14px;
	color: #2c2625;
	position: relative;
	z-index: 222;
	top: -12px;
	font-family: "微软雅黑";
}

.foot_main .footer_wx>p i {
	background: url(../img/wx-6.png) no-repeat;
	width: 20px;
	height: 16px;
	float: left;
	margin-right: 6px;
}

.foot_main>span {
	font-size: 14px;
	float: left;
	color: #2c2625;
	font-family: "微软雅黑";
}

.foot_main>.footer_wx .ewm {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	background: #d3b799;
	border-radius: 5px;
}

.foot_main>.footer_wx .ewm>img {
	width: 132px;
	height: 132px;
	padding: 12px 0 40px;
	margin-left: 12px;
}

.foot_main>b {
	font-size: 14px;
	float: left;
	color: #2c2625;
	font-weight: normal;
	margin-left: 200px;
	font-family: "微软雅黑";
}

.foot_main .tel {
	float: right;
	font-size: 24px;
	color: #d3b799;
	line-height: 14px;
	font-family: "微软雅黑";
}

.foot_main .tel>p {
	float: left;
	font-size: 14px;
	color: #2c2625;
	line-height: 20px;
}

.footer>em {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 12px;
	color: #6a5b54;
	margin: 38px 0 14px;
}


/*****
 * 文榜茶叶
 */

@font-face {
	font-family: fzqk;
	src: url('../font/fzqk.TTF');
}

.laber_tea {
	width: 100%;
	background: #f7f8f8;
	height: 680px;
	min-width: 1200px;
}

.tea {
	height: 680px;
}

.tea_main {
	width: 100%;
	float: left;
	height: 680px;
	position: relative;
	overflow: hidden;
}

.tea_main .tea_item {
	width: 100%;
	float: left;
	height: 680px;
}

.tea_main .tea_item img {
	height: 680px;
	width: 100%;
}

.tea_main>ul {
	width: 112px;
	height: 500px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.tea_main>ul li {
	float: left;
	width: 100%;
	height: 125px;
}

.tea_main>ul li a {
	width: 112px;
	height: 125px;
	float: left;
}

.tea_main>ul li a.b1 {
	background: url(../img/pic5.jpg) no-repeat 0 0;
}

.tea_main>ul li a.b2 {
	background: url(../img/pic5.jpg) no-repeat 0 -125px;
}

.tea_main>ul li a.b3 {
	background: url(../img/pic5.jpg) no-repeat 0 -250px;
}

.tea_main>ul li a.b4 {
	background: url(../img/pic5.jpg) no-repeat 0 -375px;
}

.tea_main>ul li:hover a.b1 {
	background: url(../img/pic5.jpg) no-repeat -112px 0;
}

.tea_main>ul li:hover a.b2 {
	background: url(../img/pic5.jpg) no-repeat -112px -125px;
}

.tea_main>ul li:hover a.b3 {
	background: url(../img/pic5.jpg) no-repeat -112px -250px;
}

.tea_main>ul li:hover a.b4 {
	background: url(../img/pic5.jpg) no-repeat -112px -375px;
}

.tea_main>ul .on a.b1 {
	background: url(../img/pic5.jpg) no-repeat -112px 0;
}

.tea_main>ul .on a.b2 {
	background: url(../img/pic5.jpg) no-repeat -112px -125px;
}

.tea_main>ul .on a.b3 {
	background: url(../img/pic5.jpg) no-repeat -112px -250px;
}

.tea_main>ul .on a.b4 {
	background: url(../img/pic5.jpg) no-repeat -112px -375px;
}

.tea_main .tea_title {
	position: absolute;
	background: url(../img/name.png) no-repeat 0 0;
	width: 98px;
	height: 98px;
	left: 16px;
	top: 38px;
}

.laber_about {
	width: 100%;
	background: url(../img/pic32.jpg) no-repeat center top;
	min-width: 1200px;
	display: inline-block;
}

.about {
}

.about_main {
	width: 100%;
	height: 498px;
	float: left;
	margin-top: 78px;
}

.about_main .about_fl {
	float: left;
	height: 498px;
}

.about_main .about_fl .text {
	float: left;
}

.about_main .about_fl .text+.text {
	margin-left: 70px;
}

.about_main .about_fl .text p {
	float: left;
	font-size: 17px;
	font-family: "宋体";
	width: 18px;
	display: inline;
	word-wrap: break-word;
	word-break: nomal;
	margin-right: 12px;
	color: #6a5b54;
	font-weight: 200;
	text-align: center;
}

.about_main .about_fl .text p em {
	font-weight: bold;
}

.about_main .about_fl .text strong {
	float: left;
	font-size: 24px;
	font-family: "宋体";
	width: 34px;
	display: inline;
	word-wrap: break-word;
	word-break: nomal;
	margin-left: 24px;
	color: #6a5b54;
	text-align: center;
	margin-top: 2px;
	padding: 17px 0 20px;
	background: #d3b799;
}

.about_main .about_fl span {
	width: 24px;
	font-size: 24px;
	color: #2c2625;
	float: left;
	font-family: "宋体";
	font-weight: bold;
	line-height: 42px;
	margin-top: -6px;
	margin-left: 36px;
}

.about_main .about_fr {
	float: right;
}

.about_main .about_fr em {
	background: url(../img/name.png) no-repeat -100px 0;
	width: 146px;
	height: 146px;
	float: right;
}

/***
 * 优势
 */
.laber_advantage {
	width: 100%;
	height: 412px;
	background: #f7f8f8;
}
.advantage {
	height: 412px;
}
.advantage_main {
	width: 100%;
	float: left;
	margin-top: 46px;
}
.advantage_main > h1 {
	width: 100%;
	text-align: center;
	font-family: '宋体';
	color: #3e3a39;
	font-size: 30px;
	margin-top: 24px;
}

.advantage_main > ul {
	width: 100%;
	float: left;
	margin-top: 54px;
}

.advantage_main > ul li {
	width: 170px;
	float: left;
	text-align: center;
}
.advantage_main > ul li i{
	width: 170px;
	height: 170px;
	background: url(../img/you.png) no-repeat;
	float: left;
}

.advantage_main > ul li + li {
	margin-left: 36px;
}

.advantage_main > ul li i.adv1{
	background-position: 0 0;
}
.advantage_main > ul li i.adv2{
	background-position: -170px 0;
}
.advantage_main > ul li i.adv3{
	background-position: -340px 0;
}
.advantage_main > ul li i.adv4{
	background-position: 0 -170px;
}
.advantage_main > ul li i.adv5{
	background-position: -170px -170px;
}
.advantage_main > ul li i.adv6{
	background-position: -340px -170px;
}
.advantage_main > ul li > p {
	font-size: 15px;
	font-family: '宋体';
	color: #3e3a39;
	margin-top: 22px;
	display: inline-block;
}
.contmain5 {
	background: url(../img/pic33.jpg) no-repeat center top;
	width: 100%;
	margin-top: -1476px;
	padding-top: 1476px;
}

.laber_soul {
	width: 100%;
	min-width: 1200px;
}
.soul {
	overflow: hidden;
}

.soul_main {
	width: 100%;
	float: left;
	margin-bottom: 40px;
	margin-top: 90px;
}

.soul_main h1 {
	width: 498px;
	height: 146px;
	background: url(../img/renyang.png) no-repeat 0 -308px;
}
.soul_main .soul_item {
	width: 100%;
	float: left;
}

.soul_main .soul_item span {
	font-size: 24px;
	color: #2c2625;
	width: 100%;
	text-align: left;
	font-family: '宋体';
	float: left;
	font-weight: bold;
}
.soul_main .item1 .soul_text {
	width:600px;
	float: left;
	margin-top: 50px;
}
.soul_main .soul_item .soul_text p {
	font-family: '宋体';
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 18px;
	color: #6a5b54;
}
.soul_main .item1 span {
	margin-bottom: 30px;
}
.soul_main .item1 img{
	width: 570px;
	height: 389px;
	float: right;
	margin-top: 114px;
}
.soul_main .item2 span{
	margin-top: 114px;
}
.soul_main .item2 img {
	width: 280px;
	height: 420px;
	float: left;
	margin-top: 40px;
}
.soul_main .item2 .soul_text {
	width:892px;
	float: right;
	margin-top: 40px;
}
.soul_main .item2 .soul_text p em{
	font-weight: bold;
}

/****
 * 文榜茶源地
 */
.laber_address_wushan {
	width: 100%;
	background: url(../img/pic65.jpg) no-repeat center top;
	min-width: 1200px;
	display: inline-block;
}
.address_wushan {
	
}
.address_wushan_main {
	width: 100%;
	float: left;
}
.address_wushan_main h1 {
	width: 226px;
	height: 146px;
	background: url(../img/renyang.png) no-repeat -164px -151px;
	float: left;
	margin-top: 45px;
}
.address_wushan_main .address_cont_txt1 {
	width: 778px;
	height: 410px;
	background: rgba(247,248,248,0.6);
	float: right;
}
.address_wushan_main .address_cont_txt1 p {
	padding: 0 90px;
	display: flex;
	justify-content: center;
	font-size: 17px;
	color: #3e3a39;
	line-height: 30px;
	margin-top: 30px;
}
.address_cont_txt2 {
	width: 100%;
	float: left;	
	margin-bottom: 56px;
}
.dress1 {
	margin-top: 300px;
}
.dress2 {
	margin-top: 80px;
}
.address_cont_txt2 span {
	width: 910px;
	font-size: 20px;
	color: #745e5e;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-weight: bold;
}
.address_cont_txt2 p {
	width: 910px;
	font-size: 17px;
	color: #745e5e;
	line-height: 30px;
	display: block;
	margin: 0 auto;
	margin-top: 24px;
}
.address_cont_txt2 p em {
	font-weight: bold;
}
.address_wushan_main .address_img {
	width: 100%;
	float: left;
	position: relative;
}
.address_wushan_main .address_img span {
	float: right;
	font-size: 15px;
	color: #745e5e;
	margin-top: 14px;
	margin-right: -8px;
	height: 15px;
}
.address_wushan_main .address_img i {
	width: 7px;
	height: 7px;
	border-radius: 7px;
	border: 4px solid #d3b799;
	float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}



.laber_heart {
	width: 1200px;
	margin: 0 auto;
}
.laber_heart img {
	width: 1200px;
	height: 680px;
}
.laber_origin {
	background: url(../img/pic69.jpg) no-repeat center top;
	width: 100%;
	height: 1254px;
	min-width: 1200px;
}
.origin {
	height: 415px;
}
.origin_main {
	width: 100%;
	height: 415px;
}
.origin_main .origin_text {
	width: 900px;
	margin: 0 auto;
}
.origin_main .origin_text em {
	font-size: 18px;
	color: #2c2625;
	font-family: '宋体';
	font-weight: bold;
	margin-top: 38px;
	line-height: 30px;
	float: left;
}
.origin_main .origin_text p {
	font-size: 17px;
	color: #745e5e;
	font-family: '宋体';
	float: left;
}
.origin_main .origin_text p b {
	color: #745e5e;
}
.origin_main .origin_text p.p1 {
	width: 100%;
	text-align: right;
	margin-top: 22px;	
}
.origin_main .origin_text p.p2 {
	margin-top: 48px;
	line-height: 30px;
}
.origin_main .origin_text p.p3 {
	margin-top: 15px;
	line-height: 30px;
}


.laber_wushan {
	width: 100%;
	background: url(../img/pic38.jpg) no-repeat center top;
	height: 675px;
	min-width: 1200px;
}
.wushan {
	height: 675px;
}
.wushan_main {
	width: 100%;
	float: left;
	margin-top: 78px;
}
.wushan_main .wushan_text {
	float: left;
	margin-right: 30px;
}
.wushan_main .wushan_text p {
	float: left;
    font-size: 17px;
    font-family: '宋体';
    width: 18px;
    display: inline;
    word-wrap: break-word;
    line-height: 28px;
    margin-right: 12px;
    color: #745e5e;
}
.wushan_main .wushan_text p em {
	font-weight: bold;
	color: #c14949;
}
.wushan_main > span {
	width: 20px;
	color: #745e5e;
	font-size: 20px;
	float: left;
	line-height: 32px;
	font-weight: bold;
	margin-top: -4px;
	font-family: '宋体';
}
.laber_wushanJJ {
	width: 100%;
	background: #f7f8f8;
	min-width: 1200px;	
}
.wushanJJ {
	display: flex;
	display: -webkit-flex;
}
.wushanJJ_main {
	width: 100%;
	float: left;
}
.wushanJJ_main .wushanJJ_text {
	width: 900px;
	margin: 0 auto;
	padding: 94px 0 78px;
	overflow: hidden;
}
.wushanJJ_main .wushanJJ_text p {
	line-height: 28px;
	font-size: 17px;
	color: #745e5e;
	font-family: '宋体';
}
.wushanJJ_main .wushanJJ_text p + p {
	margin-top: 30px;
}
.wushanJJ_main .wushanJJ_text p em {
	font-weight: bold;
}
.wushanJJ_main img {
	width: 100%;
	height: auto;
	float: left;
}
.wushanJJ_main img.tp {
	margin-top: 24px;
}

/*******
 * 经营模式
 */
.laber_plant {
	width: 1200px;
	margin: 0 auto;
}
.laber_plant img {
	width: 1200px;
	height: 511px;
}
.laber_singlePlant {
	width: 100%;
	background: url(../img/pic50.jpg) no-repeat center top;
	height: 270px;
	min-width: 1200px;
}
.singlePlant {
	height: 270px;
}
.singlePlant_main {
	width: 100%;
	float: left;
}
.singlePlant_main span {
	width: 100%;
	text-align: center;
	float: left;
	margin: 72px 0 28px;
	font-family: '宋体';
	color: #2c2625;
	font-size: 24px;
	font-weight: bold;
}
.singlePlant_main .singlePlant_text {
	width: 910px;
	margin: 0 auto;
	overflow: hidden;
}
.singlePlant_main .singlePlant_text p {
	line-height: 28px;
	font-size: 17px;
	color: #745e5e;
	font-family: '宋体';
	margin-bottom: 32px;
}
.singlePlant_main .singlePlant_text p em {
	font-weight: bold;
}

.laber_codeNumber {
	width: 100%;
	height: 588px;
	background: url(../img/pic44.jpg) no-repeat center top;
	min-width: 1200px;
}
.codeNumber {
	height: 588px;
}
.codeNumber_main {
	width: 100%;
	float: left;
	margin-top: 80px;
}
.codeNumber_main .codeNumber_text {
	float: left;
	margin-right: 14px;
}
.codeNumber_main .codeNumber_text p {
	float: left;
    font-size: 17px;
    font-family: '宋体';
    width: 18px;
    display: inline;
    word-wrap: break-word;
    margin-right: 12px;
    color: #fff;
}
.codeNumber_main > span {
	width: 20px;
	color: #fff;
	font-size: 20px;
	float: left;
	font-weight: bold;
	margin-top: -4px;
	margin-right: 46px;
}
.laber_adoption {
	width: 100%;
	background: url(../img/pic51.jpg) no-repeat center top;
	min-width: 1200px;
	display: inline-block;
}
.adoption {
	display: block;
}
.adoption_main {
	width: 100%;
	float: left;
	text-align: center;
}
.adoption_main > h1 {
	background: url(../img/renyang.png) no-repeat;
	width: 308px;
	height: 64px;
    display: inline-block;
}
.adoption_main > h1.bz {
	background-position: 0 0;
	margin-top: 105px;
}
.adoption_main > h1.lc {
	background-position: 0 -75px;
	margin-top: 50px;
	margin-bottom: 70px;
}
.adoption_main .adoption_text {
	width: 908px;
	margin: 0 auto;
	margin-top: 36px;
}
.adoption_main .adoption_text p {
	width: 100%;
	text-align: left;
	line-height: 28px;
	font-size: 17px;
    font-family: '宋体';
    color: #745e5e;
}
.adoption_main .adoption_text p b{
	color: #2c2625;
}
.adoption_main .lc_main {
	width: 100%;
	position: relative;
	float: left;
	margin-bottom: 24px;
}
.adoption_main .lc_main img {
	width: 100%;
	height: auto;
}
.adoption_main .lc_main .lc_bg {
	position: absolute;
	width: 100%;
	height: 135px;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}
.adoption_main .lc_main .lc_bg span {
	width: 910px;
	margin: 0 auto;
	color: #fff;
	display: inline-block;
	text-align: left;
	font-size: 20px;
	font-family: '宋体';
	margin-top: 28px;
}
.adoption_main .lc_main .lc_bg p {
	width: 910px;
	margin: 0 auto;
	color: #fff;
	display: inline-block;
	text-align: left;
	font-size: 17px;
	font-family: '宋体';
	margin-top: 8px;
	line-height: 28px;
}

.laber_cost {
	width: 100%;
	min-width: 1200px;
}
.cost{
	overflow: hidden;
}
.cost_main {
	width: 100%;
	float: left;
	margin-top: 80px;
	text-align: center;
}
.cost_main .cost_text {
	width: 910px;
	margin: 0 auto;
}
.cost_main .cost_text p {
	float: left;
    font-size: 17px;
    line-height: 28px;
    color: #745e5e;
    margin-top: 28px;
    text-align: left;
}
.cost_main .jg {
	float: left;
	width: 100%;
	margin: 36px 0;
}
.cost_main .jg span {
	width: 435px;
	height: 126px;
	float: left;
	font-size: 20px;
	color: #745e5e;
	font-family: '宋体';
	text-align: center;
	line-height: 126px;
}
.cost_main .jg span.co1 {
	background: #d3b799;
}
.cost_main .jg span.co2 {
	background: #ced9d5;
	float: right;
}
.cost_main h1 {
	width: 308px;
	height: 64px;
	display: inline-block;
	background: url(../img/feiy.png) no-repeat;
}

/*****
 *古树单株
 */
.laber_packing {
	width: 100%;
	background: url(../img/pic52.jpg) no-repeat center top;
	display: inline-block;
	min-width: 1200px;
}
.packing_main {
	width: 100%;
	float: left;
	margin-top: 65px;
}
.packing_main .pack_item {
	width: 575px;
	float: left;
	margin: 35px 0;
}
.packing_main .pack_item:nth-child(2n) {
	float: right;
}
.packing_main .pack_item span {
	font-size: 20px;
	color: #6a5b54;
	font-weight: bold;
	font-family: '宋体';
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 22px;
}
.packing_main .imgT img:first-child {
	margin-bottom: 93px;
}
/******
 * 会员服务
 */
.laber_contact {
	width: 100%;
	background: url(../img/pic37.jpg) no-repeat center top;
	min-width: 1200px;
	display: inline-block;
}
.contact_main {
	width: 100%;
	float: left;
}
.contact_main .contact_text {
	width: 910px;
	margin: 0 auto;
}
.contact_main .contact_text p {
	width: 100%;
	font-family: '宋体';
	color: #2c2625;
	line-height: 30px;
	margin-top: 44px;
}
.contact_main .contact_text p em {
	font-weight: bold;
}
.contact_main .contact_text .address {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 66px;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}
.contact_main .contact_text .address i {
	width: 24px;
	height: 34px;
	background: url(../img/dd.png) no-repeat;
	display: inline-block;
	margin-right: 18px;
}
.contact_main .map_dt {
	width: 100%;
	height: 453px;
	float: left;
}
.contact_main img {
	margin-top: 26px;
}



/********
 * 
 */

.contmain {
	background: url(../img/pic7.jpg) no-repeat center top;
	width: 100%;
}

.laber_pattern {
	width: 100%;
	min-width: 1200px;
}

.pattern_main {
	width: 100%;
	height: 296px;
	padding: 104px 0;
}

.pattern_main .pattern_fl {
	float: left;
	width: 600px;
	height: 296px;
}

.pattern_main .pattern_fl span {
	font-size: 24px;
	color: #2c2625;
	font-family: '宋体';
	font-weight: bold;
}

.pattern_main .pattern_fl p {
	font-size: 17px;
	color: #6a5b54;
	font-family: '宋体';
	line-height: 30px;
	margin-top: 34px;
	width: 100%;
	float: left;
}

.pattern_main .pattern_fr {
	float: right;
	width: 570px;
	height: 296px;
}

.pattern_main .pattern_fr img {
	width: 570px;
	height: 296px;
}

.laber_teaname {
	width: 100%;
	height: 784px;
	background: #f7f8f8;
	min-width: 1200px;
}

.teaname {
	height: 784px;
}

.teaname .teaname_main {
	width: 100%;
	position: relative;
	height: 680px;
	float: left;
}

.teaname .teaname_main img {
	width: 100%;
	height: 680px;
	float: left;
}

.teaname .teaname_main h1 {
	background: url(../img/name.png) no-repeat -100px -154px;
	width: 145px;
	height: 226px;
	position: absolute;
	right: 52px;
	top: 66px;
}

.teaname .teaname_main span {
	position: absolute;
	top: 66px;
	right: 270px;
	font-size: 24px;
	width: 24px;
	color: #2c2625;
	font-family: '宋体';
	font-weight: bold;
	line-height: 36px;
	margin-top: -3px;
}

.teaname .teaname_main .name_text {
	position: absolute;
	top: 66px;
	right: 320px;
}

.teaname .teaname_main .name_text p {
	width: 18px;
	font-size: 17px;
	float: left;
	display: inline;
	word-wrap: break-word;
	word-break: nomal;
	line-height: 28px;
	font-family: "宋体";
	margin-left: 12px;
	color: #6a5b54;
}

.laber_core {
	width: 100%;
	height: 495px;
	background: url(../img/pic10.jpg) no-repeat center top;
	min-width: 1200px;
}

.core {
	height: 495px;
}

.core_main {
	width: 100%;
	height: 495px;
	float: left;
}

.core_main>h1 {
	font-size: 36px;
	color: #2c2625;
	font-weight: bold;
	font-family: '宋体';
	float: left;
	margin-top: 98px;
	width: 100%;
	margin-bottom: 50px;
}

.core_main>p {
	float: left;
	width: 600px;
	font-size: 17px;
	color: #6a5b54;
	font-family: '宋体';
	display: block;
	clear: both;
	line-height: 28px;
	margin-top: 20px;
}

.core_main>p:first-child {
	margin-top: 28px;
}

.contmain2 {
	background: url(../img/pic11.jpg) no-repeat center top;
	width: 100%;
	min-width: 1200px;
}

.laber_step {
	width: 100%;
	height: 678px;
	min-width: 1200px;
}

.step {
	height: 678px;
}

.step_main {
	width: 100%;
	height: 678px;
	float: left;
	position: relative;
}

.step_title {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 104px;
}

.step_title h1 {
	background: url(../img/name.png) no-repeat -249px 0;
	width: 270px;
	height: 64px;
	display: inline-block;
}

.step_box {
	width: 100%;
	position: relative;
	float: left;
	height: 370px;
	margin-top: 60px;
}

.step_main .step_cont {
	width: 100%;
	float: left;
	height: 370px;
}

.step_main .step_cont .swiper-slide {
	width: 390px;
}

.step_main .step_cont .swiper-slide img {
	width: 390px;
	height: 260px;
}

.step_main .step_cont .swiper-slide p {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	color: #2c2625;
	font-family: '宋体';
}

.arrow-left01 {
	background: url(../img/prev.png) no-repeat;
	position: absolute;
	left: -80px;
	top: 56px;
	width: 60px;
	height: 150px;
	z-index: 999;
}

.arrow-right01 {
	background: url(../img/next.png) no-repeat;
	position: absolute;
	right: -80px;
	top: 56px;
	width: 60px;
	height: 150px;
	z-index: 999;
}

.tea_introduce {
	width: 100%;
	height: 680px;
	min-width: 1200px;
	background: #f7f8f8;
}

.introduce {
	height: 680px;
}

.introduce_main {
	width: 100%;
	height: 680px;
	float: left;
	position: relative;
}

.introduce_main img {
	width: 100%;
	height: 680px;
}

.introduce_main>h1 {
	background: url(../img/name.png) no-repeat -256px -82px;
	width: 226px;
	height: 146px;
	position: absolute;
	top: 70px;
	left: 56px;
}

.introduce_main>span {
	position: absolute;
	top: 272px;
	left: 56px;
	font-size: 24px;
	color: #2c2625;
	font-family: '宋体';
}

.introduce_main .introduce_text {
	position: absolute;
	width: 600px;
	left: 56px;
	top: 288px;
}
.introduce_main .introduce_text > p {	
	font-family: '宋体';
	font-size: 17px;
	color: #6a5b54;
	line-height: 28px;
}
.introduce_main .introduce_text > p + p {
	margin-top: 28px;
}


.laber_drinktea {
	width: 100%;
	min-width: 1200px;
	background: url(../img/pic31.jpg) no-repeat center top;
	height: 469px;
}

.drinktea {
	overflow: hidden;
}

.drinktea_main {
	width: 100%;
	float: left;
}

.drinktea_main span {
	width: 100%;
	float: left;
	margin-top: 104px;
	text-align: center;
	font-size: 30px;
	color: #2c2625;
	font-family: '宋体';
	font-weight: bold;
}

.drinktea_main .drinktea_ul {
	width: 100%;
	float: left;
	margin-top: 60px;
	margin-bottom: 54px;
}

.drinktea_main .drinktea_ul li {
	width: 33.3%;
	float: left;
	text-align: center;
}

.drinktea_main .drinktea_ul li i {
	width: 158px;
	height: 88px;
	background: url(../img/drinktea.png) no-repeat;
	display: inline-block;
}

.drinktea_main .drinktea_ul li .drink1 {
	background-position: 0 -88px;
}

.drinktea_main .drinktea_ul li .drink2 {
	background-position: 0 0;
}

.drinktea_main .drinktea_ul li .drink3 {
	background-position: 0 -176px;
}

.drinktea_main .drinktea_ul li p {
	margin-top: 30px;
	line-height: 28px;
	font-family: '宋体';
	font-size: 18px;
	color: #2c2625;
}

.contmain3 {
	width: 100%;
	background: url(../img/pic53.jpg) no-repeat center top;
	min-width: 1200px;
}

.drink_teatime {
	width: 100%;
	height: 846px;
	min-width: 1200px;
}

.teatime {
	height: 846px;
}

.teatime_main {
	width: 100%;
	float: left;
	margin-top: 95px;
}

.teatime_main h1 {
	float: right;
	width: 146px;
	height: 146px;
	background: url(../img/name.png) no-repeat -256px -236px;
}

.teatime_main .teatime_text {
	float: left;
}

.teatime_main .teatime_text+.teatime_text {
	margin-left: 120px;
}

.teatime_main .teatime_text .benefit {
	float: left;
}

.teatime_main .teatime_text .benefit>p {
	width: 18px;
	font-size: 17px;
	float: left;
	display: inline;
	word-wrap: break-word;
	word-break: nomal;
	line-height: 30px;
	font-family: "宋体";
	margin-right: 12px;
	color: #6a5b54;
}

.teatime_main .teatime_text>span {
	width: 24px;
	font-size: 20px;
	color: #2c2625;
	float: left;
	line-height: 36px;
	margin-top: -4px;
	margin-left: 24px;
	font-family: "宋体";
	font-weight: bold;
}
.teatime_main .ding {
	width: 100%;
	float: left;
	margin: 124px 0 136px;
}

.laber_news {
	width: 100%;
	min-width: 100%;
	background: #f7f8f8;
}


.news {
	overflow: hidden;
}

.news_main {
	width: 100%;
	float: left;
	margin-top: 32px;
}

.news_main .item {
	float: left;
	width: 580px;
	height: 520px;
	margin-bottom: 86px;
}

.news_main .item:nth-child(2n) {
	margin-left: 40px;
}

.news_main .item .link_pic {
	width: 580px;
	height: 360px;
	float: left;
	overflow: hidden;
}

.news_main .item .link_pic img {
	height: 360px;
	width: auto;
}

.news_main .item span {
	font-size: 20px;
	font-family: '宋体';
	color: #2c2625;
	width: 100%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 30px 0;
	font-weight: bold;
}

.news_main .item .link_p {
	font-size: 17px;
	color: #6a5b54;
	line-height: 30px;
	margin-top: -10px;
	float: left;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.contmain4 {
	background: url(../img/pic17.jpg) no-repeat center top;
	width: 100%;
	padding-top: 366px;
	margin-top: -280px;
	min-width: 1200px;
}
.contmain6 {
	background: url(../img/pic42.jpg) no-repeat center top;
	width: 100%;
	padding-top: 394px;
	margin-top: -280px;
	min-width: 1200px;
}

.laber_newDetails {
	width: 100%;
	min-width: 1200px;
	background: #f7f8f8;
}

.newDetails {
	overflow: hidden;
}

.newDetails_main {
	float: left;
	width: 100%;
	margin-top: 48px;
	position: relative;
}

.newDetails_main .new_cont {
	width: 850px;
	margin: 0 auto;
	overflow: hidden;
}

.newDetails_main .new_cont time {
	font-size: 14px;
	color: #666666;
	float: left;
}

.newDetails_main .new_cont>span {
	font-size: 30px;
	color: #2c2625;
	width: 100%;
	float: left;
	padding: 18px 0 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px solid #d3d3d3;
}

.newDetails_main .new_cont img {
	width: 100%;
	height: auto;
	float: left;
	margin: 30px 0 40px;
}

.newDetails_main .new_cont>p {
	width: 100%;
	float: left;
	font-size: 17px;
	color: #6a5b54;
	line-height: 28px;
	margin-bottom: 30px;
}

.newDetails_main .back {
	font-size: 14px;
	color: #666666;
	position: absolute;
	top: 0;
	left: 0;
}

.news .look_more {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 30px;
}

.news .look_more .more {
	display: inline-block;
	width: 154px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #d3b799;
	border-radius: 4px;
}

.news .look_more .more:hover {
	background: #d3b799;
	transition: all 1s;
	cursor: pointer;
}


/********
 * 招商
 */

.laber_merchants {
	width: 100%;
	background: #f7f8f8;
	min-width: 1200px;
}

.merchants {
	overflow: hidden;
}

.merchants_main {
	width: 850px;
	margin: 48px auto 0;
	position: relative;
}

.merchants_main>h1 {
	font-size: 30px;
	font-family: '宋体';
	color: #2c2625;
	font-weight: bold;
	width: 100%;
	text-align: left;
	float: left;
	margin-bottom: 24px;
}

.merchants_main>p {
	width: 100%;
	float: left;
	font-size: 17px;
	color: #6a5b54;
	line-height: 30px;
	margin-bottom: 30px;
	font-family: '宋体';
}

.merchants_main>span {
	width: 100%;
	text-align: left;
	font-size: 20px;
	color: #6a5b54;
	display: inline-block;
	font-family: '宋体';
}

.merchants_main>em {
	margin-top: 30px;
	font-size: 17px;
	color: #6a5b54;
	display: inline-block;
	width: 100%;
	font-family: '宋体';
}

.merchants_main>ul {
	width: 100%;
	float: left;
}

.merchants_main>ul li {
	float: left;
	width: 100%;
	margin-top: 10px;
	font-family: '宋体';
}

.merchants_main>h4 {
	width: 100%;
	display: inline-block;
	font-size: 20px;
	color: #6a5b54;
	font-weight: normal;
	margin-top: 40px;
}

.merchants_main .btm_bm {
	width: 100%;
	float: left;
	text-align: center;
}

.merchants_main .btm_bm>em {
	width: 100%;
	text-align: left;
	margin-top: 34px;
	display: inline-block;
	font-family: '宋体';
	color: #6a5b54;
}

.merchants_main .btm_bm>img {
	display: inline-block;
	width: 226px;
	height: 68px;
	margin-top: 16px;
	cursor: pointer;
}

.merchants_main .btm_bm>p {
	font-size: 17px;
	color: #6a5b54;
	margin-top: 22px;
	font-family: '宋体';
	color: #6a5b54;
}

.merchants_main .btm_bm>p:last-child {
	margin-top: 5px;
}

.laber_hbg {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 888;
}

.laber_hbg2 {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 9999;
}

.laber_enrol {
	background: url(../img/enrol.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	width: 850px;
	height: 974px;
	margin-left: -375px;
	margin-top: -400px;
}

.laber_enrol .enrol_main {
	padding: 0 100px;
}

.enrol_main .enrol_title {
	margin-top: 58px;
	width: 100%;
	float: left;
}

.enrol_main .enrol_title span {
	float: left;
	font-size: 26px;
	color: #2c2625;
	font-family: '宋体';
	font-weight: bold;
}

.enrol_main .enrol_title>p {
	font-size: 18px;
	color: #6a5b54;
	float: right;
	line-height: 26px;
	font-family: '宋体';
}

.enrol_main .btn_qx {
	background: url(../img/qx.png) no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 17px;
	top: 17px;
	cursor: pointer;
}

.enrol_main>form {
	width: 100%;
	float: left;
	margin-top: 60px;
}

.enrol_main>form .item {
	width: 100%;
	float: left;
	margin-bottom: 34px;
}

.enrol_main>form .item>span {
	width: 80px;
	float: left;
	line-height: 48px;
	font-size: 18px;
	color: #6a5b54;
	font-family: '宋体';
	font-weight: bold;
}

.enrol_main>form .item>input {
	width: 330px;
	height: 48px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	padding: 0 9px;
	float: left;
}

.enrol_main>form .item>p {
	float: left;
	line-height: 48px;
	margin-left: 14px;
	color: red;
	display: none;
}

.enrol_main>form .item label {
	float: left;
}

.enrol_main>form .item label+label {
	margin-left: 46px;
}

.enrol_main>form .item .tg-icheck-radio>input {
	display: none;
}

.tg-icheck-radio .tg-icheck-media {
	width: 150px;
	height: 48px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	background: none;
	text-align: center;
	font-size: 18px;
	color: #6a5b54;
	line-height: 48px;
}

.tg-icheck-radio .tg-icheck-media+.tg-icheck-media {
	margin-left: 30px;
}

.tg-icheck-radio>input:checked+.tg-icheck-media {
	background: #d3b799;
	border: 1px solid #d3b799;
}

.enrol_main>form .item .gender {
	width: 348px;
	float: left;
}

.enrol_main>form .item .gender>input {
	width: 150px;
	height: 48px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	background: none;
}

.enrol_main>form .item .gender>input:last-child {
	float: right;
	font-size: 18px;
	color: #6a5b54;
}

.enrol_main>form .item .gender>input.on {
	color: #2c2625;
	background: #d3b799;
	border: 1px solid #d3b799;
}

.enrol_main>form .item textarea {
	width: 556px;
	height: 118px;
	border: 1px solid #d3d3d3;
	padding: 6px;
}

.enrol_main>form>a {
	width: 100%;
	float: left;
	margin-top: 26px;
	margin-left: 80px;
}

.laber_enrol .wind {
	position: absolute;
	padding: 15px 25px;
	width: 350px;
	height: 270px;
	background: #fff;
	box-shadow: 0px 0px 3px #101010;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -200px;
	z-index: 999999;
	border-radius: 5px;
	text-align: center;
}

.laber_enrol .wind p {
	font-size: 20px;
	line-height: 28px;
	color: #6a5b54;
	font-family: '宋体';
	width: 100%;
	text-align: center;
	margin-top: 60px;
}

.laber_enrol .wind .btnOk {
	width: 182px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	color: #3e3a39;
	background: #d3b799;
	border-radius: 5px;
	display: inline-block;
	margin-top: 90px;
}

input::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #999;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #999;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #999;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #999;
}


/***
 * 工艺
 */

.laber_technology {
	width: 100%;
	background: #f7f8f8;
	min-width: 1200px;
}

.technology {
	overflow: hidden;
}

.technology_main {
	width: 100%;
	display: inline-block;
}

.main_h {
	margin-bottom: 60px;
}

.technology_main span {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 100px;
	font-size: 24px;
	color: #2c2625;
	font-family: '宋体';
	font-weight: bold;
}

.technology_main p {
	width: 898px;
	margin: 0 auto;
	text-align: center;
	font-size: 17px;
	color: #6a5b54;
	font-family: '宋体';
	margin-top: 34px;
	line-height: 30px;
}

.technology_main img {
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 60px;
}

.only_main {
	width: 100%;
	display: inline-block;
	margin-top: 42px;
}

.only_main>img {
	width: 370px;
	height: 555px;
	float: left;
}

.only_main>img+img {
	margin-left: 20px;
}

.only_main .only_text {
	float: left;
	margin-left: 132px;
}

.only_main .only_text p {
	width: 18px;
	float: left;
	font-size: 17px;
	float: left;
	display: inline;
	word-wrap: break-word;
	word-break: nomal;
	line-height: 28px;
	font-family: "宋体";
	margin-right: 12px;
	color: #6a5b54;
}

.only_main>h1 {
	width: 64px;
	height: 226px;
	float: right;
	background: url(../img/name.png) no-repeat 0 -109px;
}

.laber_source {
	background: url(../img/pic26.jpg) no-repeat center top;
	width: 100%;
	min-width: 1200px;
	height: 981px;
}

.source {
	height: 981px;
}

.source_main {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.source_main span {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 100px;
	font-size: 24px;
	color: #2c2625;
	font-family: '宋体';
	font-weight: bold;
}

.source_main p {
	width: 898px;
	margin: 0 auto;
	text-align: center;
	font-size: 17px;
	color: #6a5b54;
	font-family: '宋体';
	margin-top: 34px;
	line-height: 30px;
}


/********
 * 茶具
 * 
 */

.laber_teaset {
	width: 100%;
	background: #f7f8f8;
	min-width: 1200px;
}

.teaset {
	overflow: hidden;
}

.teaset_main {
	width: 100%;
	display: inline-block;
	margin-bottom: 60px;
}