/**********
 * 页面样式
 */

/* ==========
 * 基本默认样式
 */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,img,form,applet,fieldset,legend,button,input,textarea,th,table,tr,td{margin:0;padding:0;border:none;}

/* bady */
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p{-webkit-text-size-adjust:none}
input::-ms-clear{display:none;}/*清楚文本框X*/
input,select,textarea{outline:none;cursor:pointer;-webkit-appearance:none;}
html{-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);background:#f6f9fc;width:100%;height:100%;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color:#000;}

/* img */
img{padding:0;margin:0;vertical-align:top;border:none;}
i,em{font-style:normal;}

/* div */
li,ul{list-style:none;outside:none;}
.clear{clear:both;height:0;width:100%;}
body,h1,h2,h3,h4,h5,h6,hr,blockquote,dl,dt,dd,ul,ol,li,pre,img,form,applet,fieldset,legend,button,input,textarea,th,table,tr,td,a,b,i,span,input,select,p{font-family:"微软雅黑"; color: #333;}
button{
	outline：none;
}
button:hover{
	background: #eaa02a;
}
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    outline: none;
}
a{text-decoration: none;}
img{outline-width:0px; vertical-align:top;} 
/* ==========
 * 工具样式
 */
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-right{
	float: right !important;
}
.pull-left{
	float: left !important;
}
.text-right{
	text-align: right !important;
}
.text-left{
	text-align: left !important;
}
.text-center{
	text-align: center !important;
}
.invisible{
	visibility: hidden;
}
.hide{
	display: none !important;
}
.show{
	display: block !important;
}
.text-hide{
	font:0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.clearfix:before, .clearfix:after{
	content: '';
	display: table;
}
.clearfix:after{
	clear: both;
}

/* ==========
 * 浏览器更新提示
 */

.browserupgrade{
	margin: 0;
	padding: 1rem;
	background: #fff;
	height: 80px;
	text-align: center;
	font-size: 24px;
	line-height: 80px;
}
.browserupgrade a{
	color:red;
	margin: 0 8px;
}

/********
 * 头部
 */
.auto{margin: 0 auto; width: 1200px;}
header{width: 100%;}
header .laber_top{width: 100%; height: 24px; background: #2c2625; min-width: 1200px;}
header .laber_top .top_main{height: 24px;}
header .laber_top .top_main .login{float: right;}
header .laber_top .top_main .login > a{color: #d3b799; font-size: 14px; line-height: 24px; padding: 0 6px; position: relative;}
header .laber_top .top_main .login > a:first-child:after{position: absolute; content: '/'; right: -3px;}
header .laber_top .top_main .login > a:last-child{padding-right: 0;}
header .laber_header{width: 100%; height: 128px; background: #f7f8f8; min-width: 1200px;}
header .laber_header .header_main{ height: 128px; position: relative; }
.header_main > nav{position: absolute; bottom: 32px;}
.header_main .nav_fl{float: left;left: 0;}
.header_main > nav li{margin:0 50px;}
.header_main > nav li{float: left;}
.header_main .nav_fl li:first-child{margin-left: 0;}
.header_main > nav li a{font-size: 14px; color: #3e3a39;}
.header_main > nav .on a{color: #d3b799;}
.header_main > nav li a:hover{ color: #d3b799; transform: all 1s;}
.header_main .nav_fr{float: right; right: 0;}
.header_main .nav_fr li:last-child{margin-right: 0;}
.header_main .logo{position: absolute; bottom: 32px; left: 50%; margin-left: -119px; width: 238px; height: 70px;}


/*******
 * banner
 */
.ad{
	width: 100%;
	height: 680px;
	position: relative;
	display: inline-block;
	min-width: 1200px;
}
.swiper-list{
	width: 100%;
    height: 680px;
}
.swiper-list .swiper-slide a{
	float: left;
    width: 100%;
    height: 680px;
}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.arrow-left {
  background: url(../img/prev.png) no-repeat;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -75px;
  width: 60px;
  height: 150px;
  z-index: 999;
}
.arrow-right {
  background: url(../img/next.png) no-repeat;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -75px;
  width: 60px;
  height: 150px;
  z-index: 999;
}

/*******
 * 主体 --视频
 */

.container{background: url(../img/bg.jpg) no-repeat center top; width: 100%;}
.laber_wenbang{width: 100%; min-width: 1200px;}
.wenbang_main{width: 100%; padding-top: 104px; height: 505px;}
.wenbang_main .wenbang_fl{width: 300px; float: left;}
.wenbang_main .wenbang_fl img{width: 64px; height: 308px; float: left;}
.wenbang_main .wenbang_fl p{float: left; color: #6a5b54; font-size: 17px; margin-left: 14px; line-height: 28px;}
.wenbang_main .wenbang_fl .p1{margin-left: 36px;}
.wenbang_main .wenbang_fr{width: 898px; height: 505px; float: right;}

/******
 * 服务
 */

.laber_service{width: 100%; min-width: 1200px;}
.service_main{padding: 112px 0; overflow: hidden;}
.service_main a{float: left; width: 390px; height: 260px;}
.service_main a + a{margin-left: 15px;}
.service_main a img{width: 390px; height: 260px;}

/********
 * 底部
 */

footer{width: 100%; min-width: 1200px;}
.footer{width: 100%; border-top: 1px solid #d3d3d3; display: inline-block;}
.foot_main{margin-top: 25px; width: 100%; float: left;}
.foot_main > ul{float: left;}
.foot_main > ul li{padding: 0 30px; float: left; position: relative;}
.foot_main > ul li{border-right: 1px solid #d3d3d3;}
.foot_main > ul li a{color: #2c2625;font-size: 14px;}
.footer_wx{width: 132px; display: inline-block; float: left; position: relative; padding: 12px 12px 0;}
.foot_main .footer_wx > p{padding: 0 18px; float: left; font-size: 14px; color: #2c2625; position: relative; z-index: 222; top: -12px;}
.foot_main .footer_wx > p i{background: url(../img/wx-6.png) no-repeat; width: 20px; height: 16px; float: left; margin-right: 6px;}
.foot_main > span{font-size: 14px; float: left;color: #2c2625;}
.foot_main > .footer_wx .ewm{position: absolute; left: 0; width: 100%; bottom: 0; background: #d3b799; border-radius: 5px;}
.foot_main > .footer_wx .ewm > img{width: 132px; height: 132px; padding:12px 0 40px; margin-left: 12px;}
.foot_main > b{font-size: 14px; float: left; margin-left: 26px;color: #2c2625; font-weight: normal;}
.foot_main .tel{float: right; font-size: 24px; color: #d3b799;line-height: 10px;}
.foot_main .tel > p{float: left;font-size: 14px;color: #2c2625; line-height: 20px;}
.footer > em{width: 100%; float: left; text-align: center; font-size: 12px; color: #6a5b54; margin: 38px 0 14px;}


/*****
 * 文榜茶叶
 */
@font-face {
	font-family:fzqk;
	src: url('../font/fzqk.TTF');
}
.laber_tea{width: 100%; background: #f7f8f8; height: 680px; min-width: 1200px;}
.tea{height: 680px;}
.tea_main{width: 100%; float: left; height: 680px; position: relative;overflow: hidden;}
.tea_main .tea_item{width: 100%; float: left; height: 680px;}
.tea_main .tea_item img{height: 680px; width: 100%;}
.tea_main > ul{width: 112px; height: 500px; position: absolute; left:0; bottom: 0;}
.tea_main > ul li{float: left; width: 100%; height: 125px;}
.tea_main > ul li a{width: 112px; height: 125px; float: left;}
.tea_main > ul li a.b1{background: url(../img/pic5.jpg) no-repeat 0 0;}
.tea_main > ul li a.b2{background: url(../img/pic5.jpg) no-repeat 0 -125px;}
.tea_main > ul li a.b3{background: url(../img/pic5.jpg) no-repeat 0 -250px;}
.tea_main > ul li a.b4{background: url(../img/pic5.jpg) no-repeat 0 -375px;}
.tea_main > ul li:hover a.b1{background: url(../img/pic5.jpg) no-repeat -112px 0;}
.tea_main > ul li:hover a.b2{background: url(../img/pic5.jpg) no-repeat -112px -125px;}
.tea_main > ul li:hover a.b3{background: url(../img/pic5.jpg) no-repeat -112px -250px;}
.tea_main > ul li:hover a.b4{background: url(../img/pic5.jpg) no-repeat -112px -375px;}
.tea_main > ul .on a.b1{background: url(../img/pic5.jpg) no-repeat -112px 0;}
.tea_main > ul .on a.b2{background: url(../img/pic5.jpg) no-repeat -112px -125px;}
.tea_main > ul .on a.b3{background: url(../img/pic5.jpg) no-repeat -112px -250px;}
.tea_main > ul .on a.b4{background: url(../img/pic5.jpg) no-repeat -112px -375px;}
.tea_main .tea_title{position: absolute; background: url(../img/name.png) no-repeat 0 0; width: 98px; height: 98px; left: 16px; top: 38px;}
.laber_about{width: 100%; height: 1170px; background: url(../img/pic6.jpg) no-repeat center top; min-width: 1200px;}
.about{height: 1170px;}
.about_main{width: 100%; height: 498px; float: left; margin-top: 78px;}
.about_main .about_fl{float: left; height: 498px;}
.about_main .about_fl .text {float: left;}
.about_main .about_fl .text + .text{margin-left: 34px;}
.about_main .about_fl .text p{float: left;font-size: 17px; font-family: "宋体"; width: 18px; display: inline; word-wrap: break-word; word-break:nomal; line-height: 28px; margin-right: 12px; color: #6a5b54;font-weight: 200;}
.about_main .about_fl span{ width: 24px; font-size: 24px; color: #2c2625; float: left;font-family: "宋体"; font-weight: bold; line-height: 42px; margin-top: -6px; margin-left: 36px;}
.about_main .about_fr{float: right;}
.about_main .about_fr em{background: url(../img/name.png) no-repeat -100px 0; width: 146px; height: 146px; float: right; margin-right: 36px;}

.contmain{background: url(../img/pic7.jpg) no-repeat center top; width: 100%;}
.laber_pattern{width: 100%; min-width: 1200px;} 
.pattern_main{width: 100%; height: 296px; padding: 104px 0;}
.pattern_main .pattern_fl{float: left; width: 600px; height: 296px;}
.pattern_main .pattern_fl span{font-size: 24px; color: #2c2625; font-family: '宋体'; font-weight: bold;}
.pattern_main .pattern_fl p{font-size: 17px; color: #6a5b54;font-family: '宋体'; line-height: 30px; margin-top: 34px; letter-spacing: 10px; width: 100%; float: left;}
.pattern_main .pattern_fr{ float: right; width: 570px; height: 296px;}
.pattern_main .pattern_fr img{width: 570px; height: 296px;}

.laber_teaname{width: 100%; height: 784px; background: #f7f8f8; min-width: 1200px;}
.teaname{height: 784px;}
.teaname .teaname_main{width: 100%; position: relative; height: 680px; float: left;}
.teaname .teaname_main img{width: 100%; height: 680px; float: left;}
.teaname .teaname_main h1{background: url(../img/name.png) no-repeat -100px -154px; width: 145px; height: 226px; position: absolute; right: 52px; top: 66px;}
.teaname .teaname_main span{position: absolute; top: 66px; right: 270px; font-size: 24px; width: 24px; color: #2c2625; font-family: '宋体'; font-weight: bold;}
.teaname .teaname_main .name_text{position: absolute; top: 66px; right: 320px;}
.teaname .teaname_main .name_text p{width: 18px; font-size: 17px; float: left;display: inline; word-wrap: break-word; word-break:nomal; line-height: 28px;font-family: "宋体"; margin-left: 12px; color: #6a5b54;}
.laber_core{width: 100%; height: 495px; background: url(../img/pic10.jpg) no-repeat center top; min-width: 1200px;}
.core{height: 495px;}
.core_main{width: 100%; height: 495px; float: left;}
.core_main > h1{font-size: 36px; color: #2c2625; font-weight: bold; font-family: '宋体'; float: left; margin-top: 98px; width: 100%; margin-bottom: 50px;letter-spacing: 16px;}
.core_main > p{float: left; width: 600px; font-size: 17px; color: #6a5b54; font-family: '宋体'; display: block; clear: both; line-height: 28px; margin-top: 20px;letter-spacing: 10px;}
.core_main > p:first-child{margin-top: 28px;}

.contmain2{background: url(../img/pic11.jpg) no-repeat center top; width: 100%; min-width: 1200px;}
.laber_step{width: 100%; height: 678px; min-width: 1200px;}
.step{height: 678px;}
.step_main{width: 100%; height: 678px; float: left; position: relative;}
.step_title{width: 100%; float: left; text-align: center; margin-top: 104px;}
.step_title h1{background: url(../img/name.png) no-repeat -249px 0; width: 270px; height: 64px; display: inline-block;}
.step_box{width: 100%; position: relative; float: left; height:370px; margin-top: 60px;}
.step_main .step_cont{ width: 100%; float: left; height: 370px; }
.step_main .step_cont .swiper-slide{width: 390px;}
.step_main .step_cont .swiper-slide img{width: 390px; height: 260px;}
.step_main .step_cont .swiper-slide p{width: 100%; float: left; text-align: center; margin-top: 20px; font-size: 18px; color: #2c2625;font-family: '宋体';}
.arrow-left01 {background: url(../img/prev.png) no-repeat; position: absolute; left: -80px; top: 56px; width: 60px; height: 150px; z-index: 999;}
.arrow-right01 {background: url(../img/next.png) no-repeat; position: absolute; right: -80px; top: 56px;
width: 60px; height: 150px; z-index: 999;}


.tea_introduce{width: 100%; height: 680px; min-width: 1200px; background: #f7f8f8;}
.introduce{height: 680px;}
.introduce_main{width: 100%; height: 680px; float: left; position: relative;}
.introduce_main img{width: 100%; height: 680px;}
.introduce_main > h1{ background: url(../img/name.png) no-repeat -256px -82px; width: 226px; height: 146px; position: absolute; top: 70px; left: 56px;}
.introduce_main > span{position: absolute; top: 272px; left: 56px; font-size: 24px; color: #2c2625; font-family: '宋体';letter-spacing: 16px;}
.introduce_main > p{position: absolute; width: 600px; left: 56px; top: 336px; font-family: '宋体'; font-size: 17px; color: #6a5b54;letter-spacing: 10px;line-height: 28px;}

.laber_drinktea{width: 100%; min-width: 1200px; background: #f7f8f8;}
.drinktea{overflow: hidden;}
.drinktea_main{width: 100%; float: left;}
.drinktea_main span{width: 100%; float: left; margin-top: 104px; text-align: center; font-size: 30px; color: #2c2625; font-family: '宋体';letter-spacing: 16px; font-weight: bold;}
.drinktea_main .drinktea_ul{width: 100%; float: left; margin-top: 60px; margin-bottom: 54px;}
.drinktea_main .drinktea_ul li{width: 33.3%; float: left; text-align: center;}
.drinktea_main .drinktea_ul li i{width: 158px; height: 88px; background: url(../img/drinktea.png) no-repeat; display: inline-block;}
.drinktea_main .drinktea_ul li .drink1{background-position: 0 -88px;}
.drinktea_main .drinktea_ul li .drink2{background-position: 0 0;}
.drinktea_main .drinktea_ul li .drink3{background-position: 0 -176px;}

.contmain3{width: 100%; background: url(../img/pic16.jpg) no-repeat center top; min-width: 1200px;}
.drink_teatime{width: 100%; height: 846px; min-width: 1200px;}
.teatime{height: 846px;}
.teatime_main{width: 100%; float: left; margin-top: 95px;}
.teatime_main h1{ float: right; width: 146px; height: 146px; background: url(../img/name.png) no-repeat -256px -236px;}
.teatime_main .teatime_text{float: left;}
.teatime_main .teatime_text + .teatime_text{margin-left: 120px;}
.teatime_main .teatime_text .benefit{float: left;}
.teatime_main .teatime_text .benefit > p{width: 18px; font-size: 17px; float: left;display: inline; word-wrap: break-word; word-break:nomal; line-height: 28px;font-family: "宋体"; margin-right: 12px; color: #6a5b54;}
.teatime_main .teatime_text > span{width: 24px; font-size: 24px; color: #2c2625; float: left; line-height: 42px; margin-top: -4px; margin-left: 24px;font-family: "宋体"; font-weight: bold;}

.laber_news{width: 100%; min-width: 100%; background: #f7f8f8;}
.news{overflow: hidden;}
.news_main{width: 100%; float: left;}
.news_main .item{float: left; width: 580px; height: 520px; margin-bottom: 86px;}
.news_main .item:nth-child(2n){margin-left: 40px;}
.news_main .item .link_pic{width: 580px; height: 360px; float: left; overflow: hidden;}
.news_main .item .link_pic img{height: 360px; width: auto;}
.news_main .item span{font-size: 24px; font-family: '宋体'; color: #2c2625; width: 100%; float: left; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; margin: 30px 0; font-weight: bold;letter-spacing: 4px;}
.news_main .item .link_p{font-size: 17px; color: #6a5b54; line-height: 30px; margin-top: -10px; float: left; width: 100%;letter-spacing: 5px;}
.contmain4{background: url(../img/pic17.jpg) no-repeat center top; width: 100%; padding-top: 366px; margin-top: -280px; min-width: 1200px;}


.laber_newDetails{width: 100%; min-width: 1200px; background: #f7f8f8;}
.newDetails{overflow: hidden;}
.newDetails_main{float: left; width: 100%; margin-top: 48px; position: relative;}
.newDetails_main .new_cont{width: 850px; margin: 0 auto; overflow: hidden;}
.newDetails_main .new_cont time{font-size: 14px; color: #666666; float: left;}
.newDetails_main .new_cont > span{font-size: 30px; color: #2c2625; width: 100%; float: left; padding: 18px 0 30px;overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; border-bottom: 1px solid #d3d3d3;} 
.newDetails_main .new_cont img{width: 100%; height: auto; float: left; margin: 30px 0 40px;}
.newDetails_main .new_cont > p{width: 100%; float: left;font-size: 17px; color: #6a5b54; line-height: 28px; margin-bottom: 30px;}
.newDetails_main .back{font-size: 14px; color: #666666; position: absolute; top: 0; left: 0;}


/********
 * 招商
 */
.laber_merchants{width: 100%; background: #f7f8f8; min-width: 1200px;}
.merchants{overflow: hidden;}
.merchants_main{width: 850px; margin: 48px auto 0; position: relative; }
.merchants_main > h1{font-size: 30px; font-family: '宋体'; color: #2c2625; font-weight: bold; width: 100%; text-align: left; float: left; margin-bottom: 24px;}
.merchants_main > p{width: 100%; float: left; font-size: 17px; color: #6a5b54; line-height: 30px; margin-bottom: 30px;font-family: '宋体';}
.merchants_main > span{width: 100%; text-align: left; font-size: 20px; color: #6a5b54; display: inline-block;font-family: '宋体';}
.merchants_main > em{ margin-top: 30px; font-size: 17px; color: #6a5b54; display: inline-block; width: 100%;font-family: '宋体';}
.merchants_main > ul{width: 100%; float: left;}
.merchants_main > ul li{float: left; width: 100%; margin-top: 10px; font-family: '宋体';}
.merchants_main > h4{width: 100%; display: inline-block; font-size: 20px;color: #6a5b54; font-weight: normal; margin-top: 40px;}
.merchants_main .btm_bm{width: 100%; float: left; text-align: center;}
.merchants_main .btm_bm > em{ width: 100%; text-align: left; margin-top: 34px; display: inline-block;}
.merchants_main .btm_bm > img{display: inline-block; width: 226px; height: 68px; margin-top: 16px; cursor: pointer;}
.merchants_main .btm_bm > p{font-size: 17px; color: #6a5b54; margin-top: 22px;}
.merchants_main .btm_bm > p:last-child{margin-top: 5px;}

.laber_hbg{width: 100%; background: rgba(0,0,0,0.5); bottom:0; left: 0; top: 0; position: fixed;z-index: 888;}
.laber_enrol{background: url(../img/enrol.png) no-repeat; position: absolute; top: 50%; left: 50%; z-index: 999; width: 850px; height: 974px; margin-left: -375px; margin-top: -400px;}
.laber_enrol .enrol_main{padding:0 100px;}
.enrol_main .enrol_title{ margin-top: 58px; width: 100%; float: left;}
.enrol_main .enrol_title span{float: left; font-size: 26px; color: #2c2625;font-family: '宋体'; font-weight: bold;}
.enrol_main .enrol_title > p{font-size: 18px; color: #6a5b54; float: right; line-height: 26px;font-family: '宋体'; letter-spacing: 6px;}
.enrol_main .btn_qx{background: url(../img/qx.png) no-repeat; width: 24px; height: 24px; position: absolute; right: 17px; top: 17px; cursor: pointer;}
.enrol_main > form{ width: 100%; float: left; margin-top: 60px;}
.enrol_main > form .item{width: 100%; float: left; margin-bottom: 34px;}
.enrol_main > form .item >span{width: 80px; float: left; line-height: 48px; font-size: 18px; color: #6a5b54; font-family: '宋体'; font-weight: bold;}
.enrol_main > form .item > input{width: 330px; height: 48px; border: 1px solid #d3d3d3; border-radius: 5px; padding: 0 9px; float: left;}
.enrol_main > form .item .gender{width: 348px; float: left;}
.enrol_main > form .item .gender > input{width: 150px; height: 48px;border: 1px solid #d3d3d3; border-radius: 5px; background: none;}
.enrol_main > form .item .gender > input:last-child{float: right;font-size: 18px; color: #6a5b54; }
.enrol_main > form .item .gender > input.on{color: #2c2625; background: #d3b799;border: 1px solid #d3b799;}
.enrol_main > form .item  textarea{width: 556px; height: 118px; border:1px solid #d3d3d3; padding: 6px;}
.enrol_main > form > a{width: 100%; float: left; margin-top: 26px; margin-left: 80px;}
input::-webkit-input-placeholder { /* WebKit browsers */  
    color:    #999;  
}  
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
    color:    #999;  
}  
input::-moz-placeholder { /* Mozilla Firefox 19+ */  
    color:    #999;  
}  
input:-ms-input-placeholder { /* Internet Explorer 10+ */  
    color:    #999;   
}

/***
 * 工艺
 */
.laber_technology{width: 100%; background: #f7f8f8; min-width: 1200px;}   
.technology{overflow: hidden;}
.technology_main{width: 100%; display: inline-block;}
.main_h{ margin-bottom: 60px;}
.technology_main span{width: 100%; text-align: center; display: inline-block; margin-top: 100px; font-size: 24px; color: #2c2625;font-family: '宋体'; font-weight: bold; letter-spacing: 16px;}
.technology_main p{ width: 898px;  margin: 0 auto; text-align: center; font-size: 17px; color: #6a5b54; font-family: '宋体';letter-spacing: 10px; margin-top: 34px; line-height: 30px;}
.technology_main img{width: 100%; height: auto; display: inline-block; margin-top: 60px;}
.only_main{width: 100%; display: inline-block; margin-top: 42px;}
.only_main > img{width: 370px; height: 555px; float: left;}
.only_main > img + img{margin-left: 20px;}
.only_main  .only_text{float: left; margin-left: 132px;}
.only_main  .only_text p{width: 18px; float: left; font-size: 17px; float: left;display: inline; word-wrap: break-word; word-break:nomal; line-height: 28px;font-family: "宋体"; margin-right: 12px; color: #6a5b54;}
.only_main > h1{width: 64px; height: 226px; float: right; background: url(../img/name.png) no-repeat 0 -109px;}
.laber_source{background:url(../img/pic26.jpg) no-repeat center top; width: 100%; min-width: 1200px; height: 981px;}
.source{height: 981px;}
.source_main{width: 100%; text-align: center; display: inline-block;}
.source_main span{width: 100%; text-align: center; display: inline-block; margin-top: 100px; font-size: 24px; color: #2c2625;font-family: '宋体'; font-weight: bold; letter-spacing: 16px;}
.source_main p{width: 898px;  margin: 0 auto; text-align: center; font-size: 17px; color: #6a5b54; font-family: '宋体';letter-spacing: 10px; margin-top: 34px; line-height: 30px;}
